 /*app.css file*/
h1 {
    margin-left: 20;
    font-size: 40
}

a {
    margin-left: 10;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    font-size: 25
}

li {
    list-style-type: none;
    margin-top: 10
}

p {
    font-size: 18
}
